<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/234df5df-1397-4d9d-95a8-eda181936f21/resourcegroups/Luveck/providers/Microsoft.Web/sites/LuveckServiceAdministration20230209132720</ResourceId>
    <ResourceGroup>Luveck</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://luveckserviceadministration20230209132720.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>161f2dac-470a-49c6-a5c6-92cfa9fb8636</ProjectGuid>
    <PublishUrl>https://luveckserviceadministration20230209132720.scm.azurewebsites.net/</PublishUrl>
    <UserName>$LuveckServiceAdministration20230209132720</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>