<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f8a11ad3-91e3-4dbb-a3a2-961bb6f05f7d/resourceGroups/luveck_group/providers/Microsoft.Web/sites/ApiSecurityLuveck</ResourceId>
    <ResourceGroup>luveck_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apisecurityluveck.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c0f3801d-cf24-4314-8543-769a9f9e9d94</ProjectGuid>
    <PublishUrl>https://apisecurityluveck.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ApiSecurityLuveck</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>